[tool.poetry]
name = "fast-version"
version = "1.2.0"
description = "Fastapi versioning package with accept header"
authors = ["Artur Shiriev <me@shiriev.ru>"]
readme = "README.md"
classifiers = ["Programming Language :: Python :: 3.11", "Framework :: Pytest"]
homepage = "https://github.com/modern-python/fast-version"
packages = [
    { include = "fast_version" },
]

[tool.poetry.dependencies]
python = ">=3.10,<4"
fastapi = ">=0.100"

[tool.poetry.dev-dependencies]
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
httpx = "*"
ruff = "*"
mypy = "*"

[tool.mypy]
python_version = "3.11"
strict = true

[tool.ruff]
line-length = 120
target-version = "py311"

[tool.ruff.lint]
select = ["ALL"]
ignore = [
    "D1", # allow missing docstrings
    "S101", # allow asserts
    "TCH", # ignore flake8-type-checking
    "FBT", # allow boolean args
    "ANN101", # missing-type-self
    "D203", # "one-blank-line-before-class" conflicting with D211
    "D213", # "multi-line-summary-second-line" conflicting with D212
    "COM812", # flake8-commas "Trailing comma missing"
    "ISC001", # flake8-implicit-str-concat
]
isort.lines-after-imports = 2
isort.no-lines-before = ["standard-library", "local-folder"]

[tool.pytest.ini_options]
addopts = "--cov=. --cov-report term-missing"
asyncio_mode = "auto"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
